@model Deshport.Domain.EntityModel.Product
<h4>Change form</h4>
<form id="formchangeproduct" enctype="multipart/form-data" asp-action="ChangeProduct" asp-controller="Product" asp-route-id="@Model.Id" method="post">
    <div asp-validation-summary="All" style="font-size:15px;" class="text-danger text-center"></div>
    <div class="image-area col-3">
        <img src="/@Model.Picture" />
        
        <input value="Change picture" placeholder="Picture" type="file" asp-for="@Model.Picture" />
    </div>
    <div class="param-area col-9">
        <div>
            <label class="col-3">Name</label>
            <input class="col-8" placeholder="Name" asp-for="@Model.Name" />
        </div>
        <div>
            <label class="col-3">Price</label>
            <input class="col-8" placeholder="Price" asp-for="@Model.Price" />  
        </div>   
        <div>
            <label class="col-3">Amount</label>
            <input class="col-8" placeholder="Amount" asp-for="@Model.Amount" />
        </div>       
        
    </div>
    
        <input id="confirm-change" type="submit" value="Confirm" />
    
    
</form>